.category {
    overflow: hidden;
    position: relative;
    border: 1px solid #673AB7;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px
}

a,
.btn {
    transition: all 0.3s ease-out 0s
}

a {
    color: #333;
    text-decoration: none !important
}

h4 {
   font-family: 'Bree Serif', serif;
    margin-bottom: 0px !important
}

.mb-10 {
    margin-bottom: 10px
}

.htcatthumb a img {
    width: 100%
}

p+img,
img:last-child {
    margin-bottom: 0
}

.frhoverinfo {
    position: absolute;
    right: 20px;
    top: 20px
}

.productaction {
    display: flex;
    justify-content: center;
    flex-flow: column
}

.ml-text {
    margin-left: -44px;
}

ul,
ol {
    list-style: none
}

.productaction li:nth-child(1) {
    opacity: 0;
    transition: opacity 300ms linear 0s;
}

.productaction li:nth-child(2) {
    opacity: 0;
    transition: opacity 300ms linear 0s;
}

.productaction li:nth-child(3) {
    opacity: 0;
    transition: opacity 300ms linear 0s;
}

.productaction li {
    margin: 0;
    margin-bottom: 2px
}

.productaction li a {
    background: #fefefe none repeat scroll 0 0;
    display: inline-block;
    height: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 50px
}

.productaction li a i {
    color: #673AB7;
    font-size: 18px;
    transition: all 0.4s ease 0s
}

.category:hover .productaction li:nth-child(1) {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 300ms linear 0s
}

.category:hover .productaction li:nth-child(2) {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 500ms linear 0s
}

.category:hover .productaction li:nth-child(3) {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 500ms linear 0s
}

.category:hover .frproductinner.innerposition {
    bottom: 0;
    opacity: 1
}

.frproductinner.innerposition {
    background: #fff none repeat scroll 0 0;
    bottom: -20px;
    left: 0;
    opacity: 0;
    padding: 30px 20px;
    position: absolute;
    text-align: left;
    transition: all 0.5s ease 0s;
    width: 100%
}

.frproductinner h4 a {
    color: #673ab6;
    font-family: Old Standard TT;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease 0s
}

.innerposition .frproprize {
    float: left;
    justify-content: flex-start
}

.frproprize {
    display: flex;
    justify-content: center;
    margin-top: 6px
}

.frproprize li {
    color: #313131;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px
}

.innerposition .frproprize {
    margin-top: 0
}

.innerposition .rating {
    display: flex;
    float: right
}

.rating li i {
    color: red
}